/* PLEASE IF IT WORKS DO NOT TOUCH THE CODE !!! HOURS PUT INTO THIS : 54 HOURS */
body{
    position: relative;
    /* left: 1%; */
    width: 99%;
    height: 1200px;
    background-color: #2a9d8f;
}
main{
    height: 100%;
    width: 100%;
    background-color: #264653;
    border-radius: 20%;
    border: black solid 2px;
}
#box{
    background-color: #2a9d8f;
    height: 65%;
    width: 50%;
    position: relative;
    left: 25%;
    top: 7%;
    border-radius: 2%;
    border: black solid 1px;
}
.input {
    margin: 30px;
    background: none;
    border: none;
    outline: none;
    max-width: 190px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: #fff;
    position: relative;
    left: 20px;
    top: 30px;
    margin: 15px ;
}
h3{
    display: inline-block;
    position: relative;
    width: 60%;
    left: 30%;
    top: 10px;
}
label{
    display: inline-block;
    position: relative;
    left: 20px;
    top: 30px;
    margin: 15px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#list{
    display: inline-block;
    position: relative;
    left: 20px;
    top: 30px;
    margin: 15px;
    background-color: #2a9d8f;
    border: none;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    border-radius: 9999px;
    /* outline: none; */
}
span{
    display: inline-block;
    position: relative;
    left: 20px;
    top: 30px;
    margin: 15px;
}
#msg{
    color: red;
}
.text{
    display: inline-block;
    position: relative;
    left: 20px;
    top: 30px;
    margin: 15px ;
    background-color: #2a9d8f;
    border: none;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    border-radius: 9999px;
}
button {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }
  
  #btn:hover,
  :focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
  }